@charset "utf-8";
/* CSS Document */
@import url("jquery.mmenu.all.css");
#menu{ visibility: hidden;  background-color: #132a47;}
.mm-panel::after, .mm-panel::before{ height: 0; }
.mm-menu{ font-size: 20px;}
.mm-listitem{ color:#fff;}
.mm-listitem::after{ left: 0; border-bottom: 1px solid #3f5269;}
.mm-listitem > a, .mm-listitem > span{ padding: 16px 10px;}
.mm-listitem_vertical > .mm-btn_next{ height: 60px;}
.mm-menu .mm-listview .mm-btn_next::after{ border-color: rgba(255,255,255,1);}
.mm-menu .mm-listview a:not(.mm-btn_next){  border-bottom: 1px solid #3f5269;}
.first{}
.second a{ padding: 16px 10px 16px 30px; font-size:16px; }
.third a{padding: 16px 10px 16px 50px; font-size:16px;}
.third .mm-listitem{color:#86cdff; background-color: #0b1829;}
@media screen and (max-width: 767px){
	#menu{ visibility: visible; background-color: #132a47;}
}